@model IEnumerable<proyectoFin.Models.t004_diagnosticos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.f004_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f004_informacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f004_fechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f004_fechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f004_idEspecialista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f004_idPaciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.f004_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f004_informacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f004_fechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f004_fechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f004_idEspecialista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f004_idPaciente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
