@model IEnumerable<proyectoFin.Models.t007_videos_ecografias>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.f007_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f007_formato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f007_tamano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f007_resolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f007_urlDescarga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f007_idDiagnostico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.f007_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f007_formato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f007_tamano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f007_resolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f007_urlDescarga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f007_idDiagnostico)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
