@model proyectoFin.Models.t003_citas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>t003_citas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.f003_fechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.f003_fechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.f003_fechaCita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.f003_fechaCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.f003_estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.f003_estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.f003_idPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.f003_idPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.f003_idEspecialista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.f003_idEspecialista)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
