@model IEnumerable<proyectoFin.Models.t006_notificaciones>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.f006_fechaEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f006_emailDestinatario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f006_asuntoCorreo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.f006_mensajeCorreo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.f006_fechaEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f006_emailDestinatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f006_asuntoCorreo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.f006_mensajeCorreo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
